body,
html {
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg-midnight {
  // background-color: #172b4d;
  background: radial-gradient(circle at 50% 30%, #0a1f44, #000814);
}
